<div class="container-main">
  <div class="container-fuild">
    <div class="choose-app">
      Chọn ứng dụng
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-4 ">
        <div class="list-app card">
          <img src="../assets/images/tiki.png" class="card-img-top"  alt="">
          <div class="card-body">
            <h4 class="card-title text-center">TIKI</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-4 ">
        <div class="list-app card">
          <img src="../assets/images/shoppe.png" class="card-img-top"  alt="">
          <div class="card-body">
            <h4 class="card-title text-center">SHOPPE</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-4 ">
        <div class="list-app card">
          <img src="../assets/images/sendo.png" class="card-img-top"  alt="">
          <div class="card-body">
            <h4 class="card-title text-center">SENDO</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
